<div class="event-show">

<% if @events %>
  <h2>List of your posts</h2>
  <ul> 
    <% @events.each do |event| %>
      <li><%= event.title %> <%= button_to "Send Invitations", new_invitation_path, method: 'get', params: {event_id:event.id} %></li>
    <% end %>
  </ul>
  <%= link_to "Create a New event", new_event_path %>
<% else %>
  <%= link_to "Create a New event", new_event_path %>
<% end %>

<% if @upcoming_events.empty? && @prev_events.empty? %>
  <h3>Sorry, you dont have any Invitations to attend </h3>
<% else %>

  <h2>Events you planned to attend:</h2>
  <h3>Upcoming events</h3>
  <ul>
    <% @upcoming_events.each do |a|  %>
      <li><%= a.title %></li>
    <% end %>
  </ul>

  <h3>Past events</h3>
  <ul>
    <% @prev_events.each do |a|  %>
      <li><%= a.title %></li>
    <% end %>
  </ul>
  
<% end %>
</div>