<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <% if logged_in? %>
        <ul>
          <li>Welcome <%= @current_user.name%></li>
          <li><%= link_to 'Signout', signout_path, method: 'delete' %></li>
          <li><%= link_to 'Home', events_path %></li>
          <li><%= link_to 'Profile', user_path(@current_user) %></li>
          <%# <li></li> %>
        </ul>
      <% end %>
  
    </header>

    <% flash.each do |type, msg|  %>
      <div class="alert-<%= type %>"><%= msg %></div> 
    <% end %>
    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
